.card-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 20vh;
}
.card {
    text-align: center;
    border: 1px solid black;
    width: 40vw;
    background-color: rgba(7, 6, 13, 0.353);
    color: aliceblue;
}